@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


h1 {
font-size: 40px;
} 

h2 {
font-size: 24px;
} 

h1, h2, h3 {

  font-family: 'Noto Serif Display', serif;
  color: black;
} 

body {
	background: rgb(210, 210, 210);
	color: rgb(80, 80, 80);
text-align: center;
font-size: 18px;
font-family: helvetica;
} 

a {
  color: black;
  text-decoration: underline;
  transition: color 0.3s ease;
}
a:hover {
  color: darkgrey;
  text-decoration: underline;
}

div{
 text-align: center;
}

.round{
 border-radius: 8px;
}


#intro {
background: rgb( 220, 220, 220);  
width: 600px;                      
padding: 30px;          
margin: 0 auto;
border-radius: 8px;                        
box-shadow: 0 10px 30px rgba(0,0,0,.1); 
}

.para {
  background: rgb( 220, 220, 220);                        
padding: 15px;    
margin: 30px;                         
border-radius: 8px;                        
box-shadow: 0 10px 30px rgba(0,0,0,.1); 
}

.footer {
  background: rgb( 220, 220, 220);                        
padding: 15px;    
margin: 30px;  
width: 600px;                       
height: 100px;
border-radius: 8px;                        
box-shadow: 0 10px 30px rgba(0,0,0,.1);
margin: 0 auto;
 }


.button {
 background: rgb(100, 100, 100);
 width: 50;
 height: 30;
 color: lightgray;
 padding: 15px ;
 border-radius: 8px;
 text-decoration: none;
 text-align: center;
 vertical-align: middle;
 margin: 10px ;
}

.list_inline {
 list-style: none;
 padding: 0px;
 margin: 30px;
 display: inline;
}

.list_inline li {
display: inline;
}

